<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div id="app-7">
        <ol>
            <!-- <li v-for="item in groceryList"> {{ item.text}} </li> -->
            <todo-item 
                v-for="(item, keys) in groceryList"
                v-bind:todo="item"
                v-bind:key="keys"
            ></todo-item>
        </ol>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        Vue.component('todo-item', {
            data: () => {
                return {
                    msg: 'hahaha'
                }
            },
            props: ['todo'],
            template: '<li> {{ todo.text }} {{ msg }}</li>'
        })
        
        let app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { id: 0, text: 'Vegetables'},
                    { id: 1, text: 'Cheese'},
                    { id: 2, text: 'Whatever else humans are supposed to eat'}
                ]
            }
        })
        
        console.log(app7.$children[0].todo.text);
        console.log(app7);


    /*
    The component system is another important concept in Vue, 
    because it’s an abstraction that allows us to 
    build large-scale applications composed of small, self-contained, and often reusable components. 
    If we think about it, almost any type of application interface can be abstracted into a tree of components:
    
    This is a contrived example, but we have managed to separate our app into two smaller units, 
    and the child is reasonably well-decoupled from the parent via the props interface. 
    We can now further improve our <todo-item> component with more complex template and logic without affecting the parent app.

    In a large application, it is necessary to divide the whole app into components to make development manageable. 
    We will talk a lot more about components later in the guide, but here’s an (imaginary) example of what an app’s template might look like with components:

    <div id="app">
        <app-nav></app-nav>
        <app-view>
            <app-sidebar></app-sidebar>
            <app-content></app-content>
        </app-view>
    </div>





    */
    </script>



</body>
</html>